<div id = "login_form">
<h3>Please login here:</h3>
<form action='/login' method='POST'>
  Username: <input type='text' name='username'><br>
  Password: <input type='password' name='password'><br>
            <input type="submit", value='login'><br>
</form>
</div>
