<div id="add_cat_div">
  <form id="catform" action="/profile/<%= @user.id%>/new_category" method="POST">
    New Category Name: <input type="text" name="name"><br>
  <input type="submit" value="Add">
  </form>
</div>
