<div id="delete_category_btn">
    <form action="/category/<%=@category.id%>/delete" method="Post">
      <input type="hidden" name="_method" value="Delete">
      <input type="submit" Value="Delete">
    </form>
</div>
