<h3><%=@user.username %></h3>
<div id="addcatdel">
  <a id="add_cat"href="/profile/<%= @user.id%>/new_category">Add New Category</a>
</div>
<ul>
  Category:
  <% @user.categories.each do |category| %>
    <%= erb :_category_link, locals: {category: category } %>
  <% end%>
</ul>
