<form id="update_formula" method="POST">
  <input type="hidden" name="_method" value="PUT"><br>
  Name: <input type="text" name="name" value="<%=@formula.name%>"><br>
  Content: <input type="text" name="content" value="<%=@formula.content%>"><br>
  <input type="submit" value="Update">
</form>
